<div id="admin-dashboard">
     	<div class="x_report" id="number-of-active-vacations">
     		<div class="report_header">
     			Number of Active Vacations
     		</div>
     		<div class="report_body">
     			{{test.numberOfActiveVacations}}
     		</div>
     	</div>
     	
     	<div class="x_report" id="number-of-in-progress-vacations">
     		<div class="report_header">
     			Number of In Progress Vacations
     		</div>
     		<div class="report_body">
     			{{test.numberOfInProgressVacations}}
     		</div>
     	</div>
</div>