

<!-- Don't forget the [formGroup] -->
<!-- <form (submit)="saveNewPrepayment()">-->
<form (submit)="saveNewPrepayment()" [formGroup] = "newPrepaymentFormGroup">
	<h2 mat-dialog-title>Prepayments</h2>
	
	<mat-dialog-content>
		<div class="form-group">
			<div><!-- Used to adjust size of all fields here to full width -->
				<mat-form-field appearance="outline" class="form-field mt-2">
					<mat-label>Description</mat-label>
					<input matInput formControlName="description" type="text" autocomplete="off">
					@if (isFieldInvalid('description')) {
		           		<mat-error>
		            		@if (newPrepaymentFormGroup.get('description')?.errors?.['required']) {
		              			This field is required
		            		}
				            @if (newPrepaymentFormGroup.get('description')?.errors?.['maxlength']) {
				              This field must not exceed 100 characters
				            }
		          		</mat-error>
		        	}
				</mat-form-field>
				
				<mat-form-field appearance="outline" class="form-field mt-2">
	       			<mat-label>Type</mat-label>
	       			<mat-select formControlName="type" value="selectedValue">
	       				<mat-option value="Flight">
	       					Flight
	       				</mat-option>
	       				
	       				<mat-option value="Hotel">
	       					Hotel
	       				</mat-option>
	       				
	       				<mat-option value="Vacation Package">
	       					Vacation Package
	       				</mat-option>
	       				
	       				<mat-option value="Show Ticket">
	       					Show Ticket
	       				</mat-option>
	       				
	       				<mat-option value="General Travel">
	       					General Travel
	       				</mat-option>
	       				
	       				<mat-option value="Dining Experience">
	       					Dining Experience
	       				</mat-option>
	       				
	       				<mat-option value="Spa/Salon">
	       					Spa/Salon
	       				</mat-option>
	       				
	       				<mat-option value="Other">
	       					Other
	       				</mat-option>
	       				
	       				<mat-option value="Awaiting Refund">
	       					Awaiting Refund
	       				</mat-option>
	       				
	       				<mat-option value="Refunded">
	       					Refunded
	       				</mat-option>
	       				
	       			</mat-select>
	       			@if (isFieldInvalid('lastName')) {
	         				<mat-error>
				            @if (newPrepaymentFormGroup.get('type')?.errors?.['required']) {
				              This field is required
				            }
	         				</mat-error>
	       			}
	     		</mat-form-field>
	     		
	     		<mat-form-field appearance="outline" class="form-field mt-2">
					<mat-label>Vendor</mat-label>
					<input matInput formControlName="vendor" type="text" autocomplete = "off">
				</mat-form-field>
				
				<mat-form-field appearance="outline" class="form-field mt-2">
					<mat-label>Amount</mat-label>
					<input matInput formControlName="amount" type="text" autocomplete = "off">
				</mat-form-field>
				
				<mat-form-field appearance="outline" class="form-field mt-2">
	       			<mat-label>Payment Source</mat-label>
	       			<mat-select formControlName="paymentSource">
	       				
	       				<mat-option *ngFor="let option of activePrepaymentSources" [value] = "option">
	       					{{option.name}}
	       				</mat-option>
	       				
	       			</mat-select>
	       			@if (isFieldInvalid('lastName')) {
	         				<mat-error>
				            @if (newPrepaymentFormGroup.get('type')?.errors?.['required']) {
				              This field is required
				            }
	         				</mat-error>
	       			}
	     		</mat-form-field>
	     		
	     		<mat-form-field appearance="outline" class="form-field mt-2">
					<mat-label>Notes</mat-label>
					<input matInput formControlName="notes" type="text" autocomplete="off">
					@if (isFieldInvalid('notes')) {
		           		<mat-error>
				            @if (newPrepaymentFormGroup.get('notes')?.errors?.['maxlength']) {
				              This field must not exceed 150 characters
				            }
		          		</mat-error>
		        	}
				</mat-form-field>
	     		
	     		<mat-checkbox formControlName="isRefundable">Refundable</mat-checkbox>
	     		<mat-checkbox *ngIf="newPrepaymentFormGroup.get('isRefundable')?.value == true" formControlName="isRefundRequested">Refund Requested</mat-checkbox>
	     		<mat-checkbox *ngIf="newPrepaymentFormGroup.get('isRefundRequested')?.value == true" formControlName="isRefundReceived">Refund Received</mat-checkbox>

			</div>
			
		</div>
	</mat-dialog-content>
	
	<mat-dialog-actions style="float: right;">
		<button mat-button [mat-dialog-close] = "false">Close</button>
		<button type="submit" mat-flat-button color="primary" [disabled] = "newPrepaymentFormGroup.invalid">Save Prepayment</button>
	</mat-dialog-actions>
</form>