.x_remaining{
	border: 2px solid black;
	text-align: center;
	font-size: 30px;
	margin-right: 25px;
	display: inline-block;
	padding: 10px;
	width: 30%;
}
.x_remaining_header{
	border-bottom: 2px solid gray;
	font-weight: bold;
}
.trip-overview-tr{
	border-bottom: 1px solid black;
}

.fcc-row{
	text-align: center;
}

.fcc-table-cell{
	border-bottom: 1px solid black;
}
.general-overview-side-header{
	font-size: 24px;
}
.general-overview-table-header{
	font-size: 32px;
}
.inline-grid{
	display: inline-grid;
}
.margin-top-15{
	margin-top: 15px;
}
.width-100{
	width: 100%;
}
.width-95{
	width: 95%;
}
#fcc-table, .fcc-header, .fcc-table-cell{
	border-bottom: 1px solid black;
}
#fcc-table{
	padding: 10px;
	width: 100%;
}
#time_remaining_section{
	text-align: center;
	display: flex;
	width: 100%;
}
#fo-tsm{
	grid-template-columns: 1fr 1fr;
	gap: 15px;
}
#left-side{
	width: 40%;
}
#funding-comps-credits{
	border: 2px solid black;
	margin-right: 15px;
	width: 95%;
}
#fcc_total_label{
	font-weight: bold;
	float: right;
	margin-right: 10px;
}

#right-side{
	width: 60%;
}
#funding-overview{
	width: 100%;
	border: 2px solid black;
	margin-right: 15px;
}
#trip-status-monitor{
	border: 2px solid black;
	width: 93%;
}
#trip-planner-notes{
	width: 1361px !important;
	height: 178px !important;
	resize: none;
	margin-left: 15px
}