<div class="margin-top-15"></div>
	<ng-container>
		 <!-- @defer (when !loading()) {-->
		 	<!-- @if ((vacations() ?? []).length > 0) {-->
		 	@if (selectedVacation){

		 		<div id="left-side" class="inline-grid">
		 		<!-- Trip Overview -->
			 		<div id="trip-overview-section">
			 			<ng-container>
			 				<table style="border: 2px solid black; width: 95%; padding: 15px">
			 					<tbody>
			 						<tr>
			 							<th class="trip-overview-tr">Primary Hotel</th>
			 							<td class="trip-overview-tr align-center">{{getValue("hotel_name_primary", true, "")}}</td>
			 						</tr>
			 						<tr>
			 							<th class="trip-overview-tr">Estimated Trip Package Price</th>
			 							<td class="trip-overview-tr align-center">${{selectedVacation.meta.estimated_trip_package_price.toFixed(2)}}</td>
			 						</tr>
			 						<tr>
			 							<th class="trip-overview-tr">Primary Flight Carrier</th>
			 							<td class="trip-overview-tr align-center">{{getValue("flight_primary", true, "")}}</td>
			 						</tr>
			 						<tr>
			 							<th class="trip-overview-tr">Primary Flight Class</th>
			 							<td class="trip-overview-tr align-center">{{getValue("flight_primary", true, "")}}</td>
			 						</tr>
			 						<tr>
			 							<th class="trip-overview-tr">Trip Dates</th>
			 							<td class="trip-overview-tr align-center">{{getValue("trip_start_date", true, "")}} - {{getValue("trip_end_date", true, "")}}</td>
			 						</tr>
			 						<tr>
			 							<th class="trip-overview-tr">Trip Status</th>
			 							<td class="trip-overview-tr align-center">{{getValue("state", false, "")}}</td>
			 						</tr>
			 						<tr>
			 							<th class="trip-overview-tr">Budget Buffering</th>
			 							<td class="trip-overview-tr align-center">{{getValue("enable_budget_buffer", true, "False")}}</td>
			 						</tr>
			 						
			 					</tbody>
			 				</table>
			 			</ng-container>
			 		</div>
			 		
			 		<div id="funding-comps-credits" class="margin-top-15">
				    	<table id = "fcc-table">
				    		<thead id="fcc-header">
				    			<tr class="fcc-row" id="fcc-header-row">
				    				<th colspan="2">Funding, Comps, & Credits</th>
				    			</tr>
				    		</thead>
				    		<tr class="fcc-row">
				    			<th class="fcc-header">Description</th>
				    			<th class="fcc-header">Amount</th>
				    			<th class="fcc-header">Actions</th>
				    		</tr>
		
					    	<tr class="fcc-row" *ngFor="let item of selectedVacation.funding_comps_credits | keyvalue" id="fcc-{{item.key.replaceAll(' ', '_')}}">
					    		<td class="fcc-table-cell">{{item.key}}</td>
					    		<td *ngIf="!item.value['isEditing']" class="fcc-table-cell"><span *ngIf="item.value['value']">$</span>{{item.value["value"]}}</td>
					    		<td *ngIf="item.value['isEditing']"><input [(ngModel)] = "item.value['value']"/></td>
					    		<td class="fcc-table-cell">				    		
						    		<mat-icon *ngIf="!item.value['isEditing']" (click)="toggleEditModeForFCC(item)">mode_edit</mat-icon>
						    		<mat-icon *ngIf="item.value['isEditing']" (click)="toggleEditModeForFCC(item); updateVacation(selectedVacation, false, 'Unable to update Funding, Comps, & Credits')">done</mat-icon>
						    		<mat-icon (click)="deleteElementFromFCC(item); updateVacation(selectedVacation, false, 'Unable to update Funding, Comps, & Credits')">delete</mat-icon>
					    		</td>
					    	</tr>
					    	
					    	<tfoot>
					    		<tr>
					    			<td><span id="fcc_total_label">Total</span></td>
					    			<td>${{ selectedVacation['meta'].totalFCC }}</td>
					    		</tr>
					    	</tfoot>
				    	</table>
				    </div>
			    </div><!-- End Left Side -->
			    
			    <div id="right-side" class="inline-grid">
			    
				    <!-- Months, Weeks, Days Remaining From Trip -->
				 	<div id="time_remaining_section" >
				        	<div class="x_remaining" id="months_remaining">
				        		<div class="x_remaining_header">
				        			Months<br>Remaining
				        		</div>
				        		<div class="x_remaining_body">
				        			{{selectedVacation.meta.monthsRemaining}}
				        		</div>
				        	</div>
				        	<div class="x_remaining" id="weeks_remaining">
				        		<div class="x_remaining_header">
				        			Weeks<br>Remaining
				        		</div>
				        		<div class="x_remaining_body">
				        			{{selectedVacation.meta.weeksRemaining}}
				        		</div>
				        	</div>
				        	<div class="x_remaining" id="days_remaining">
				        		<div class="x_remaining_header">
				        			Days<br>Remaining
				        		</div>
				        		<div class="x_remaining_body">
				        			{{selectedVacation.meta.daysRemaining}}
				        		</div>
				        	</div>
				    </div>
				    
					<div id="fo-tsm" class="inline-grid margin-top-15">
						<div id = "funding-overview">
					    	<table class="width-100">
					    		<thead>
					    			<tr>
					    				<th colspan="2" class="general-overview-table-header" style="border-bottom: 2px solid gray;">Funding Overview</th>
					    			</tr>
					    		</thead>
					    		<tbody>
						    		<tr class="">
						    			<th class="general-overview-side-header">Main Funding</th>
						    			<td>${{selectedVacation.meta.fo_main_funding}}</td>
						    		</tr>
						    		<tr class="">
						    			<th class="general-overview-side-header">Prepayments</th>
						    			<td>${{selectedVacation.meta.totalPrepayments || 0.00}}</td>
						    		</tr>
						    		<tr class="">
						    			<th class="general-overview-side-header">{{getValue("additional_funding_label", true, "Credit Card Funding")}}</th>
						    			<td>${{getCreditCardFunding()}}</td>
						    		</tr>
						    		<tr class="">
						    			<th class="general-overview-side-header">Total Funding</th>
						    			<td>BD needed</td>
						    		</tr>
						    		<tr class="">
						    			<th class="general-overview-side-header">Estimated Cost</th>
						    			<td>BD needed</td>
						    		</tr>
					    		</tbody>
					    		
					    	</table>
					    </div>
					    
					    <div id="trip-status-monitor" style="width: 100;">
					    	<table class="width-95">
					    		<thead>
					    			<tr>
					    				<th colspan="2" class="general-overview-table-header" style="border-bottom: 2px solid gray;">Trip Status Monitor</th>
					    			</tr>
					    		</thead>
					    		<tbody>
					    			<tr class="">
					    				<th colspan="1" class="general-overview-side-header" style="margin-right: 0px; width: 275px;">Is Today Trip Day</th>
					    				<td colspan="2" style="border-radius: 25px;" class="tsm-ittd-background-{{selectedVacation.meta.tsm_istodaytripday_stylecolor}}"></td>
					    			</tr>
					    			<tr>
					    				<th class="general-overview-side-header">Packing Status</th>
					    				<td colspan="2" style="background-color: red; border-radius: 25px;"></td>
					    			</tr>
					    			<tr>
					    				<th class="general-overview-side-header">Task Status</th>
					    				<td colspan="2" style="background-color: red; border-radius: 25px;"></td>
					    			</tr>
					    			<tr>
					    				<th class="general-overview-side-header">Past Due Tasks</th>
					    				<td colspan="2" style="background-color: red; border-radius: 25px;"></td>
					    			</tr>
					    		</tbody>
					    	</table>
					    </div>
					</div>
				    
				    
			    
			    </div><!-- End Right Side -->

		 		<div id="bottom">
			 		<div id="notes" class="margin-top-15">
				    	<mat-form-field id="trip-planner-notes" appearance="fill">
				    		<textarea [(ngModel)]="selectedVacation.notes" (keyup) = "updateVacation(selectedVacation, true, 'Unable to update trip planner notes')" cdkTextareaAutosize style="resize: none" matInput>{{selectedVacation.notes}}</textarea>
				    	</mat-form-field>
				    </div>
		 		</div>
			    
			    
			    
			    
		 	}
		 <!-- }-->
	</ng-container>