.x_remaining{
	text-align: center;
	font-size: 30px;
	margin-right: 25px;
	display: inline-block;
	padding: 10px;
	width: 30%;
}
.x_remaining_header{
	border-bottom: 2px solid gray;
	font-weight: bold;
}
.trip-overview-tr{
	border-bottom: 1px solid black;
}

.fcc-row{
	text-align: center;
}

.fcc-table-cell{
	border-bottom: 1px solid black;
}
.general-overview-side-header{
	font-size: 24px;
}
.general-overview-table-header{
	font-size: 32px;
}
.inline-grid{
	display: inline-grid;
}
.margin-top-15{
	margin-top: 15px;
}
.width-100{
	width: 100%;
}
.width-95{
	width: 95%;
}

#fcc-table{
	padding: 10px;
	width: 100%;
}
#time_remaining_section{
	text-align: center;
	display: flex;
	width: 100%;
}
#fo-tsm{
	grid-template-columns: 1fr 1fr;
	gap: 15px;
}
#left-side{
	width:38%;
	margin-right:2%;
}
#funding-comps-credits{
	margin-right: 15px;
	width: 100%;
}
#fcc_total_label{
	font-weight: bold;
	float: right;
	margin-right: 10px;
}

#right-side{
	width: 60%;
}
#funding-overview{
	width: 100%;
	margin-right: 15px;
}
#trip-status-monitor{

	width: 93%;
}

#trip-planner-notes{
	width: 1377px !important;
	height: 178px !important;
	resize: none;
}

.trip-dashboard-widget{
	background-color: #d3d3d3;
	box-shadow:5px 5px 10px rgba(0,0,0,.5);
}

/*Trip Status Monitor*/
.tsm-ittd-background-red{
	background-color: red;
}
.tsm-ittd-background-yellow{
	background-color: yellow;
}
.tsm-ittd-background-green{
	background-color: green;
}