<div style="margin-top:15px"></div>
<ng-container>
	 <!-- @defer (when !loading()) {-->
	 	<!-- @if ((vacations() ?? []).length > 0) {-->
	 	@if (selectedVacation){
	 		
	 		<!-- Trip Overview -->
	 		<div id="trip-overview-section" class="inline" style="width: 40%">
	 			<ng-container>
	 				<table style="border: 1px solid black; width: 95%; padding: 10px">
	 					<tbody>
	 						<tr>
	 							<th class="trip-overview-tr">Primary Hotel</th>
	 							<td class="trip-overview-tr align-center">{{getValue("hotel_name_primary", true)}}</td>
	 						</tr>
	 						<tr>
	 							<th class="trip-overview-tr">Estimated Trip Package Price</th>
	 							<td class="trip-overview-tr align-center">$1000.00</td>
	 						</tr>
	 						<tr>
	 							<th class="trip-overview-tr">Primary Flight Carrier</th>
	 							<td class="trip-overview-tr align-center">{{getValue("flight_primary", true)}}</td>
	 						</tr>
	 						<tr>
	 							<th class="trip-overview-tr">Primary Flight Class</th>
	 							<td class="trip-overview-tr align-center">{{getValue("flight_primary", true)}}</td>
	 						</tr>
	 						<tr>
	 							<th class="trip-overview-tr">Trip Dates</th>
	 							<td class="trip-overview-tr align-center">{{getValue("trip_start_date", true)}} - {{getValue("trip_end_date", true)}}</td>
	 						</tr>
	 						<tr>
	 							<th class="trip-overview-tr">Trip Status</th>
	 							<td class="trip-overview-tr align-center">{{getValue("state", false)}}</td>
	 						</tr>
	 						<tr>
	 							<th class="trip-overview-tr">Budget Buffering</th>
	 							<td class="trip-overview-tr align-center">{{getValue("enable_budget_buffer", true)}}</td>
	 						</tr>
	 						
	 					</tbody>
	 				</table>
	 			</ng-container>
	 		</div>
	 		
	 		<!-- Months, Weeks, Days Remaining From Trip -->
	 		
		 	<div id="time_remaining_section" class="inline" style="width: 60%;">
		        	<div class="x_remaining" id="months_remaining">
		        		<div class="x_remaining_header">
		        			Months Remaining
		        		</div>
		        		<div class="x_remaining_body">
		        			6.77
		        		</div>
		        	</div>
		        	<div class="x_remaining" id="weeks_remaining">
		        		<div class="x_remaining_header">
		        			Weeks Remaining
		        		</div>
		        		<div class="x_remaining_body">
		        			29.43
		        		</div>
		        	</div>
		        	<div class="x_remaining" id="days_remaining">
		        		<div class="x_remaining_header">
		        			Days Remaining
		        		</div>
		        		<div class="x_remaining_body">
		        			206
		        		</div>
		        	</div>
		    </div>
		    
		    <div id="funding-comps-credits">
		    	<table id = "fcc-table">
		    		<thead id="fcc-header">
		    			<tr class="fcc-row" id="fcc-header-row">
		    				<th colspan="2">Funding, Comps, & Credits</th>
		    			</tr>
		    		</thead>
		    		<tr class="fcc-row">
		    			<th class="fcc-header">Description</th>
		    			<th class="fcc-header">Amount</th>
		    		</tr>
		    		<!-- <tr class="fcc-row">
		    			<td>Main Funding</td>
		    			<td>$325.00</td>
		    		</tr>-->
		    		
		    		<!-- @for(item of selectedVacation.funding_comps_credits | keyvalue; track item.key){
		    			<tr class="fcc-row">
		    				<td>{{item.key}}</td>
		    				<td>{{item.value}}</td>
		    			</tr>
		    		}-->
		    		<tr class="fcc-row" *ngFor="let item of selectedVacation.funding_comps_credits | keyvalue">
		    			<td class="fcc-table-cell">{{item.key}}</td>
		    			<td class="fcc-table-cell">{{item.value}}</td>
		    		</tr>
		    	</table>
		    </div>
		    
		    
	 	}
	 <!-- }-->
</ng-container>