

<!-- <table mat-table [dataSource] = "dataSource">
	<ng-container matColumnDef="position">
		<mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
		<mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
	</ng-container>
	
	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>-->


	<table style="margin-top: 15px" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
	
		<ng-container matColumnDef="description">
	    	<th mat-header-cell *matHeaderCellDef> Description </th>
	    	<td (dblclick)="generateModal(element)" mat-cell *matCellDef="let element"> {{element.description}} </td>
	  	</ng-container>
	  	<ng-container matColumnDef="type">
	    	<th mat-header-cell *matHeaderCellDef> Type </th>
	    	<td (dblclick)="generateModal(element)" [class]="{'font-red-bold':element.type=='Awaiting Refund'}" mat-cell *matCellDef="let element"> {{element.type}} </td>
	  	</ng-container>
	  	<ng-container matColumnDef="vendor">
	    	<th mat-header-cell *matHeaderCellDef> Vendor </th>
	    	<td (dblclick)="generateModal(element)" mat-cell *matCellDef="let element"> {{element.vendor}} </td>
	  	</ng-container>
	  	<ng-container matColumnDef="isRefundable">
	    	<th mat-header-cell *matHeaderCellDef> Is Refundable </th>
	    	<td (dblclick)="generateModal(element)" [class]="{'font-green-bold':element.isRefundable}" mat-cell *matCellDef="let element"> {{element.isRefundable}} </td>
	  	</ng-container>
	  	<ng-container matColumnDef="isRefundRequested">
	    	<th mat-header-cell *matHeaderCellDef> Is Refund Requested </th>
	    	<td (dblclick)="generateModal(element)" mat-cell *matCellDef="let element"> {{element.isRefundRequested}} </td>
	  	</ng-container>
	  	<ng-container matColumnDef="isRefundReceived">
	    	<th mat-header-cell *matHeaderCellDef> Is Refund Received </th>
	    	<td (dblclick)="generateModal(element)" [class]="{'font-red-bold':element.isRefundRequested && !element.isRefundedReceived}" mat-cell *matCellDef="let element"> {{element.isRefundReceived}} </td>
	  	</ng-container>
	  	<ng-container matColumnDef="amount">
	    	<th mat-header-cell *matHeaderCellDef> Amount </th>
	    	<td (dblclick)="generateModal(element)" mat-cell *matCellDef="let element" [matTooltip] = "element.meta.amountTooltip"> ${{element.amount}} </td>
	  	</ng-container>
	  	<ng-container matColumnDef="paymentSource">
	    	<th mat-header-cell *matHeaderCellDef> Payment Source </th>
	    	<td (dblclick)="generateModal(element)" mat-cell *matCellDef="let element" [matTooltip]="element.meta.paymentSourceTooltip"> {{element.paymentSource.name}} </td>
	  	</ng-container>
	  	<ng-container matColumnDef="notes">
	    	<th mat-header-cell *matHeaderCellDef> Notes </th>
	    	<td (dblclick)="generateModal(element)" mat-cell *matCellDef="let element"> {{element.notes}} </td>
	  	</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	  	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
