
  .app {
    overflow: auto;
	margin-top: 25px;
  }
  .toolbar {
    left: 0;
    right: 0;
    height:55px;
    text-align: center;
    width: 99%;
    background-color: gold;
    border: 5px solid gray;
    color: gray;
    font-size: -webkit-xxx-large;
    font-weight: bold;
	margin-top:10px;
}

button {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 10px;
    font-size: xx-large;
    outline: none;
}
.record {
  float: right;
}

.add {
  /* float: left */
}
