

<div class="app">
	<app-sticky-notes *ngFor="let note of notes" (dismiss)="deleteNote($event)" (focusout)="saveNote($event)" id="{{note.id}}" size="{{note.size}}">{{note.content}}</app-sticky-notes>
</div>
<div class="toolbar" id="toolbar" tabindex="0">
	<button class="add material-icons" (click)="addNote('sm')" >
  		note_add
	</button>
	
	<button class="add material-icons" (click)="addNote('md')" >
  		note_add
	</button>
	
	<button class="add material-icons" (click)="addNote('lg')" >
  		note_add
	</button>

</div>