


<table style="margin-top: 15px" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
	<ng-container matColumnDef="description">
    	<th mat-header-cell *matHeaderCellDef> Description </th>
    	<td mat-cell *matCellDef="let element"> {{element.description}} </td>
  	</ng-container>
  	<ng-container matColumnDef="type">
    	<th mat-header-cell *matHeaderCellDef> Type </th>
    	<td mat-cell *matCellDef="let element"> {{element.type}} </td>
  	</ng-container>
  	<ng-container matColumnDef="confirmationCode">
    	<th mat-header-cell *matHeaderCellDef> Confirmation Code </th>
    	<td mat-cell *matCellDef="let element"> {{element.confirmationCode}} </td>
  	</ng-container>
  	<ng-container matColumnDef="date">
    	<th mat-header-cell *matHeaderCellDef> Date </th>
    	<td mat-cell *matCellDef="let element"> {{element.date}} </td>
  	</ng-container>
  	<ng-container matColumnDef="time">
    	<th mat-header-cell *matHeaderCellDef> Time </th>
    	<td mat-cell *matCellDef="let element"> {{element.time}} </td>
  	</ng-container>
  	<ng-container matColumnDef="notes">
    	<th mat-header-cell *matHeaderCellDef> Notes </th>
    	<td mat-cell *matCellDef="let element"> {{element.notes}} </td>
  	</ng-container>
  	
  	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>