<!-- <p>calendar-component works!</p>

<div class="day">
	<div class="day-header">Friday, May 15th, 2026</div>
	<input class="day-section" tabindex="1"/>
	<input class="day-section" tabindex="2"/>
	<input class="day-section" tabindex="3"/>
	<input class="day-section" tabindex="4"/>
	<input class="day-section" tabindex="5"/>
	<input class="day-section" tabindex="6"/>
	<input class="day-section" tabindex="7"/>
	<input class="day-section" tabindex="8"/>
	
</div>
<div class="day">
	<div class="day-header">Saturday, May 16th, 2026</div>
	<input class="day-section" tabindex="1"/>
	<input class="day-section" tabindex="2"/>
	<input class="day-section" tabindex="3"/>
	<input class="day-section" tabindex="4"/>
	<input class="day-section" tabindex="5"/>
	<input class="day-section" tabindex="6"/>
	<input class="day-section" tabindex="7"/>
	<input class="day-section" tabindex="8"/>
	
</div>
<div class="day">
	<div class="day-header">Sunday, May 17th, 2026</div>
	<input class="day-section" tabindex="1"/>
	<input class="day-section" tabindex="2"/>
	<input class="day-section" tabindex="3"/>
	<input class="day-section" tabindex="4"/>
	<input class="day-section" tabindex="5"/>
	<input class="day-section" tabindex="6"/>
	<input class="day-section" tabindex="7"/>
	<input class="day-section" tabindex="8"/>
	
</div>-->

<div>
   <h1>Demo App</h1>
   <full-calendar #calendar [options]="calendarOptions"></full-calendar>
</div>