


<table style="margin-top: 15px" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="order" matSortDirection="asc">
	<thead>
		<tr class="">
			<th colspan="3">Config</th>
		</tr>
	</thead>
	
	<ng-container matColumnDef="config_label">
    	<th mat-header-cell *matHeaderCellDef class="config-column"> Name </th>
    	<td (dblclick)="generateModal(element)" style="text-align: center;" class="config-column" mat-cell *matCellDef="let element" [matTooltip] = "element.config_key"> {{element.config_label}} </td>
  	</ng-container>
  	<ng-container matColumnDef="config_value">
    	<th mat-header-cell *matHeaderCellDef class="config-column"> Value </th>
    	<td style="text-align: center;" (dblclick)="generateModal(element)"  mat-cell *matCellDef="let element" class="config-column primary-config-{{element.primary_config}} required-config-{{element.required}}">
	    	 <span>{{element.config_value}}</span>
    	 </td>
  	</ng-container>
  	<ng-container matColumnDef="config_notes">
    	<th mat-header-cell *matHeaderCellDef class="config-column"> Notes </th>
    	<td (dblclick)="generateModal(element)" mat-cell *matCellDef="let element" class="config-column"> {{element.config_notes}} </td>
  	</ng-container>
  	
  	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>