<ng-container>
  <mat-toolbar class="post-list-mat-toolbar">
    <mat-toolbar-row>
      <p>Users</p>
      <div>
        <button type="button" mat-mini-fab color="primary" (click)="addUser()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>&sol;users</mat-toolbar-row>
  </mat-toolbar>

  <mat-card class="post-card" appearance="outlined">

    <mat-card-content>
      <div class="w-input-search">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Search</mat-label>
          <mat-icon matPrefix color="primary">search</mat-icon>
          <input matInput type="text" [formControl]="searchControl" placeholder="Search" autocomplete="off">
        </mat-form-field>
      </div>
    </mat-card-content>

    <div class="table-container">
      <table mat-table matSort [dataSource]="dataSource" (matSortChange)="announceSortChange($event)">

        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let user; let i = index"> {{ getRowNumber(i) }}</td>
        </ng-container>

        <!-- firstName Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by First name">First name
          </th>
          <td mat-cell *matCellDef="let user"> {{ user.firstName }}</td>
        </ng-container>

        <!-- lastName Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Last name">Last name</th>
          <td mat-cell *matCellDef="let user"> {{ user.lastName }}</td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Email">Email</th>
          <td mat-cell *matCellDef="let user"> {{ user.email }}</td>
        </ng-container>

        <!-- roles Column -->
        <ng-container matColumnDef="roles">
          <th mat-header-cell *matHeaderCellDef> Roles</th>
          <td mat-cell *matCellDef="let user">
            @for (role of user.roles; track role) {
              <span class="custom-badge badge-success">{{ role.name }}</span>
            }
          </td>
        </ng-container>
        
        <ng-container matColumnDef="enabled">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Enabled</th>
          <td mat-cell *matCellDef="let user" [ngClass]="{'user-inactive': !user.enabled, 'user-enabled-value': true}">{{ user.enabled }}</td>
        </ng-container>
        

        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let user">
            <button mat-icon-button [matMenuTriggerFor]="actions" (click)="$event.stopPropagation()">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #actions="matMenu">
              <button *ngIf="user.enabled" class="btn-menu-warning" mat-menu-item type="button" (click)="toggleUserActivation(user)">
                <mat-icon>person_off</mat-icon>
                Deactivate
              </button>
              <button *ngIf="!user.enabled" class="btn-menu-info" mat-menu-item type="button" (click)="toggleUserActivation(user)">
                <mat-icon>person_on</mat-icon>
                Activate
              </button>
              <button class="btn-menu-danger" mat-menu-item type="button" (click)="deleteUser(user)">
                <mat-icon>delete</mat-icon>
                Delete
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          (click)="editUser(row)"
          [class.account-locked]="row.accountLocked"
          *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="padding: 16px;">
            @if (loading()) {
              <div style="display: flex; justify-content: center;">
                <mat-progress-spinner
                  color="primary"
                  diameter="30"
                  mode="indeterminate">
                </mat-progress-spinner>
              </div>
            } @else {
              <span style="display: block; text-align: center;">No users found.</span>
            }
          </td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     [pageSize]="pageSize"
                     [pageIndex]="pageIndex"
                     [length]="totalElements"
                     showFirstLastButtons
                     aria-label="Select page of users"
                     (page)="onPageChange($event)">
      </mat-paginator>
    </div>

  </mat-card>

</ng-container>
