.btn {
  display: block;
  width: 100%;
  margin: 0 10px 0 10px;
}

.auth-card-header {
  margin: auto;
  width: fit-content;
}

.auth-card-title {
  text-align: center;
}

.auth-card-subtitle {
  margin: 0 0 16px 0 !important;
}

.auth-card-footer {
  text-align: right;
  color: #9a9797;
}

.auth-card-footer p {
  margin-top: 10px;
  padding: 0 10px 10px 0;
}
