@use "custom-colors" as *;

.table-container {
  width: 100%;
  overflow-x: auto;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  font-weight: bold;
}

.account-locked {
  background-color: $error-bg !important;
}
