

<!--<mat-form-field>
	<mat-label>Select Vacation Planner</mat-label>
	<mat-select [(value)]="selectedVacation">
		<mat-option *ngFor="let option of vacations()" [value]="option">{{option.name}}</mat-option>
	</mat-select>
</mat-form-field>-->

<mat-form-field>
	<mat-label>Select Vacation Planner</mat-label>
	<mat-select (selectionChange)="setSelectedVacation($event)">
		<mat-option *ngFor="let option of vacationList" [value]="option" id="{{option.key}}">{{option.value}}</mat-option>
	</mat-select>
</mat-form-field>


<h1 class="inline" *ngIf="selectedVacation">Vacation Planner: <span style="text-decoration: underline;">{{selectedVacation.name}}</span></h1>

<!-- Component Control Panel -->
<button (click)="generateModal()" *ngIf="currentTab=='prepayments'" class="control-panel-button" mat-button matButton="filled" style="vertical-align: middle; float: right; background-color: #939799;">New Prepayment</button>
<button *ngIf="currentTab=='confirmations'" class="control-panel-button" mat-button matButton="filled" style="vertical-align: middle; float: right; background-color: #939799;">New Confirmation</button>
<button *ngIf="currentTab=='spa'" class="control-panel-button" mat-button matButton="filled" style="vertical-align: middle; float: right; background-color: #939799;">New Spa Treatment</button>
<button *ngIf="currentTab=='task'" class="control-panel-button" mat-button matButton="filled" style="vertical-align: middle; float: right; background-color: #939799;">New Task</button>
<button *ngIf="currentTab=='trip_dashboard'" class="control-panel-button" mat-button matButton="filled" style="vertical-align: middle; float: right; background-color: #939799;">New FCC</button>

<button class="control-panel-button" (click)="delete(selectedVacation)" *ngIf="this.selectedVacation" mat-button matButton="filled" style="vertical-align: middle; float: right; background-color: #939799;">Delete</button>

<ng-container>

  <div class="card-container">
  
  	@if(selectedVacation){
  		<mat-tab-group (selectedTabChange)="onTabChange($event)">
  			<mat-tab label="Trip Dashboard"><app-trip-dashboard [selectedVacation] ="selectedVacation"></app-trip-dashboard></mat-tab>
  			<mat-tab label="Prepayments"><app-prepayments [selectedVacation]="selectedVacation"></app-prepayments></mat-tab>
  			<mat-tab label="Budget Dashboard">c</mat-tab>
  			<mat-tab label="Research">d</mat-tab>
  			<mat-tab label="Confirmations"><app-confirmations [selectedVacation]="selectedVacation"></app-confirmations></mat-tab>
  			<mat-tab label="Calendar">f</mat-tab>
  			<mat-tab label="Spa">g</mat-tab>
  			<mat-tab label="Packing">h</mat-tab>
  			<mat-tab label="Tasks">i</mat-tab>
  			<mat-tab label="Trip Analysis">j</mat-tab>
  			<mat-tab label="Config"><app-trip-config [selectedVacation]="selectedVacation"></app-trip-config></mat-tab>
  		</mat-tab-group>
  	}
  	
  	
  
  


    <!-- <ng-container>
      @defer (when !loading()) {
        @if ((posts() ?? []).length > 0) {
          @for (post of posts(); track post.id) {
            <app-post-card [post]="post"/>
          }
        } @else {
          <app-no-posts-found/>
        }
      } @loading {
        @for (i of [1, 2, 3, 4, 5, 6]; track i) {
          <app-post-card-skeleton/>
        }
      } @placeholder {
        @for (i of [1, 2, 3, 4, 5, 6]; track i) {
          <app-post-card-skeleton/>
        }
      }
    </ng-container>-->
    <!-- <ng-container>
      @defer (when !loading()) {
        @if ((vacations() ?? []).length > 0) {
        	<div id="time_remaining_section">
	        	<div class="x_remaining" id="months_remaining">
	        		<div class="x_remaining_header">
	        			Months Remaining
	        		</div>
	        		<div class="x_remaining_body">
	        			6.77
	        		</div>
	        	</div>
	        	<div class="x_remaining" id="weeks_remaining">
	        		<div class="x_remaining_header">
	        			Weeks Remaining
	        		</div>
	        		<div class="x_remaining_body">
	        			29.43
	        		</div>
	        	</div>
	        	<div class="x_remaining" id="days_remaining">
	        		<div class="x_remaining_header">
	        			Days Remaining
	        		</div>
	        		<div class="x_remaining_body">
	        			206
	        		</div>
	        	</div>
	        </div>
        -->

        
          <!-- @for (v of vacations(); track v.id) {
            <p>ID: {{v.id}}</p>
            <p>Name: {{v.name}}</p>
            <p>State: {{v.state}}</p>
            <p>Owner: {{v.owner}}</p>
            <p>Vacation Config: {{v.config}}</p>
            <p>VacationConfig ID: {{v.config.id}}</p>
            
            @for( ci of v.config.configItems; track ci.id){
            	<p>{{ci.config_name}}</p>
            	<p>{{ci.config_value}}</p>
            }
            
          }-->
        <!-- } @else {
          <p>did not find vacations</p>
        }
      } @loading {
        @for (i of [1, 2, 3, 4, 5, 6]; track i) {
          <p>something3</p>
        }
      } @placeholder {
        @for (i of [1, 2, 3, 4, 5, 6]; track i) {
          <p>something4</p>
        }
      }
    </ng-container>-->

  </div>
</ng-container>
