

<mat-form-field id="vacation-planner-selector">
	<mat-label>Select Vacation Planner</mat-label>
	<mat-select (selectionChange)='setSelectedVacation($event, -1)'>
		<mat-option *ngFor="let option of vacationList" [value]="option">{{option.value}}</mat-option>
	</mat-select>
</mat-form-field>


<h1 class="inline" *ngIf="selectedVacation">Vacation Planner: <span style="text-decoration: underline;">{{selectedVacation.name}}</span></h1>
<!-- Component Control Panel -->
<!-- Consider using ngrepeat and a list of buttons in the TS -->
<button (click)="generateModal()" *ngIf="currentTab=='prepayments'" class="control-panel-button" mat-button matButton="filled" style="vertical-align: middle; float: right; background-color: #939799;">New Prepayment</button>
<button *ngIf="currentTab=='confirmations'" class="control-panel-button" mat-button matButton="filled" style="vertical-align: middle; float: right; background-color: #939799;">New Confirmation</button>
<button *ngIf="currentTab=='spa'" class="control-panel-button" mat-button matButton="filled" style="vertical-align: middle; float: right; background-color: #939799;">New Spa Treatment</button>
<button *ngIf="currentTab=='task'" class="control-panel-button" mat-button matButton="filled" style="vertical-align: middle; float: right; background-color: #939799;">New Task</button>
<button *ngIf="currentTab=='trip_dashboard'" class="control-panel-button" mat-button matButton="filled" style="vertical-align: middle; float: right; background-color: #939799;">New FCC</button>
<button *ngIf="currentTab=='budget'" class="control-panel-button" mat-button matButton="filled" style="vertical-align: middle; float: right; background-color: #939799;">New Budget Item</button>

<button class="control-panel-button" (click)="delete(selectedVacation)" *ngIf="this.selectedVacation" mat-button matButton="filled" style="vertical-align: middle; float: right; background-color: #939799;">Delete</button>

<ng-container>

  <div class="card-container">
  
  	@if(selectedVacation){
  		<mat-tab-group (selectedTabChange)="onTabChange($event)">
  			<!-- <mat-tab label="Trip Dashboard"><app-trip-dashboard [selectedVacation] ="selectedVacation"></app-trip-dashboard></mat-tab>-->
  			<mat-tab label="Trip Dashboard"><app-trip-dashboard></app-trip-dashboard></mat-tab>
  			<mat-tab label="Prepayments"><app-prepayments [selectedVacation]="selectedVacation"></app-prepayments></mat-tab>
  			<mat-tab label="Budget Dashboard"><app-budget-dashboard></app-budget-dashboard></mat-tab>
  			<mat-tab label="Research">d</mat-tab>
  			<mat-tab label="Confirmations"><app-confirmations [selectedVacation]="selectedVacation"></app-confirmations></mat-tab>
  			<mat-tab label="Calendar">f</mat-tab>
  			<mat-tab label="Spa">g</mat-tab>
  			<mat-tab label="Packing">h</mat-tab>
  			<mat-tab label="Tasks">i</mat-tab>
  			<mat-tab label="Trip Analysis">j</mat-tab>
  			<mat-tab label="Config"><app-trip-config [selectedVacation]="selectedVacation"></app-trip-config></mat-tab>
  		</mat-tab-group>
  	}@else{
  		
  	}

  </div>
</ng-container>
