<ng-container>
  <mat-toolbar class="post-list-mat-toolbar">
    <mat-toolbar-row>
      <p>My posts</p>
      <div>
        <a mat-mini-fab aria-label="Add a post" color="primary" routerLink='/post-form'>
          <mat-icon>add</mat-icon>
        </a>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>&sol;Posts&sol;All posts</mat-toolbar-row>
  </mat-toolbar>
  <div class="card-container">
    @for (post of posts(); track post.id) {
      <app-post-card [post]="post"/>
    }
  </div>
</ng-container>
